body{
    font-family:sans-serif;
    background-color:whitesmoke;
    font-family: "Lucida Console", Monaco, monospace;
	font-weight: lighter;
}

header {
	margin-bottom: 20px;
	padding: 20px 40px;
}

@keyframes type { 50% 
    { border-right-color: transparent; }
}

nav { 
	float: right;
	margin-top: 8px;
    font-size: 20px;
    color:black;
}

a {
	text-decoration: none;
	color:#415865;
}
a:visited {
	color:#415865;
}
a:focus {
	outline: none;
}

.site-name {
	display: inline;
	border-right: solid 2px;
	padding-right: 10px;
	animation: type 1s infinite;
    font-size: 20px;
    color:#7A9EB1;
}

#banner { 
    background-image:url("https://68.media.tumblr.com/0586ba42779c480ebdf981f5da002fb1/tumblr_p04q78uOfq1qccobxo1_1280.jpg");
    background-size: cover;
  background-position: bottom center;
  min-height: 100%;
	min-height: 100vh;
	padding-top: 65px;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0
}

#banner .content h1 {
  font-family:monospace;
  font-size:80px;    
  color:#F9F8EB;
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 600px;
  height: 550px;
  
}

p {
  background-color: rgba(255, 255, 255,0.4);
  color: black;
  font-size: 26px;
  line-height: 48px;
  margin-top: 65px;
  padding: 10px 20px;
    
}

